* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleBox {
    padding-right: 100px;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #3246c3;
}

nav {
    height: 5vh;
    background-color: #3246c3;
    color: #fff;
    text-align: center;
    line-height: 3;
}

.dashboard {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.dashboard_content {
    display: flex;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 10px;
}

.sales {
    padding: 50px;
    margin: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #ccc;
    width: 45vw;
    height: 70vh;
}

.lineChartBox {
    height: 90%;
    padding: 20px;
}

.score, .indicators {
    padding: 30px 50px 50px;
    margin: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #ccc;
    width: 45vw;
    height: 32vh;
}

.barChartBox, .scatterChartBox {
    height: 90%;
}