.App {
  position: relative;
}

.switching_btn {
    position: absolute;
    height: 50px;
    top: 25px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.switching_btn button {
    padding: 3px;
    margin: 5px;
    font-size: 0.7rem;
    background-color: #fff;
    border: none;
    box-shadow: 3px 3px 5px #999;
    color: #3246c3;
    border-radius: 5px;
}

.switching_btn button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}